@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700;800&display=swap");

:root {
  --primary-color: #5c48d3;
  font-family: "Kanit", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

h1 {
  font-weight: 300;
  font-size: 1.7rem;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 2rem 3rem;
  height: 7rem;
}

.logo {
  display: flex;
  align-items: center;
}

.imgLogo {
  height: 2.5rem;
  padding-right: 3rem;
}

main {
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#counter-container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1.4rem;
}

#number {
  background-color: var(--primary-color);
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;

  padding: 1rem;

  font-size: 5rem;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
}

#resetBtn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
  border-radius: 12px;
}

footer {
  font-weight: 300;
  height: 5rem;
  text-align: center;
  padding-bottom: 3rem;
}

footer span {
  font-weight: 500;
}
